about-time
aiohttp
aiosignal
alive-progress
async-timeout
attrs
beautifulsoup4
bs4
certifi
charset-normalizer
frozenlist
gevent
grapheme
greenlet
grequests
idna
multidict
playwright
python-dotenv
requests
soupsieve
urllib3
yarl
zope.event
zope.interface
